<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="/js/funcoes.js"></script>
  <title>CRUD Library</title>

  <style>
    body {
  padding: 0;
  height: 200%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 248, 220, 0.801);
}


button {
  position: relative;
  left: 34%;
  width: 10%;
  padding: 3px ;
  border: 2;
  text-align: center;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {opacity: 1}

h1 {
  margin-left: 500px;
}

input{
  width: 400px;
}

div#div1{
  padding: 10px;
  margin-left: 150px;
}

div#div2{
  padding: 10px;
  margin-left: 150px;
}
div#div3{
  padding: 10px;
  margin-left: 150px;
}
div#div4{
  padding: 10px;
  margin-left: 150px;
}

footer#Library{
  margin-right: 170px;
}

  </style>

</head>


<body>
  <nav class="navbar navbar-expand-lg" style="background-color:rgb(17, 9, 68); border-top-color: #000;">
    <a class="navbar-brand" href="">
     <img src="https://scontent-for1-1.xx.fbcdn.net/v/t1.0-9/119769804_3503780869658447_9157142273785200666_n.jpg?_nc_cat=106&_nc_sid=730e14&_nc_ohc=YCK8_4mpRxUAX_Iwt5q&_nc_ht=scontent-for1-1.xx&oh=d9a3620ea2ca32dd81d6fe9bd570d56f&oe=5F88E7ED" width="130" height="100"usemap="#workmap">
    </a>
    <map name="workmap">
      <area shape="rect" coords="-00,-00,130,98" alt="logo" href="http://localhost:3000/show-empresa">
    </map>
  </nav>


<h1>Cadastrar Empresa</h1>
<form action="/show-empresa" method="POST">

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
     
        <div class="row">
            <div id="div1" class="col-sm-5">
              <label>Nome:</label>
              <input type="text" name="Inpname" required>
            </div>
            <div class="col-sm-5">
               <label>Nome fantasia:</label>
              <input type="text" name="InpFantasia" required>
            </div>
        </div>
        
        <div  class="row">
            <div id="div2" class="col-sm-5">
              <br>
              <label>CNPJ:</label>
              <input onkeyup="cnpjFunc()" maxlength="18" id="inpCnpj" type="text" name="inpCnpj" required>
            </div>
            <div class="col-md-5">
              <br>
              <label>Email:</label>
             <input type="email" name="InpEmail" required>
            </div>
        </div>

       <br>
        <div class="row">
            <div id="div3" class="col-sm-5">
              <label>Contato:</label>
              <input id="contato" maxlength="14" onkeyup="contatoFunc()" type="text" name="InpTel" required>
            </div>
            <div class="col-sm-5">
              <label>Endereço:</label>
              <input id="input" type="text" name="InpEnd" required>
            </div>
        </div>
        
        <div  class="row">
            <div id="div4" class="col-sm-5">
              <br>
              <label>Estado:</label>
              <select class="select h-50 w-50" id="estado" name="InpEs">
                <option value="">Selecionar</option>
                <option>AC</option>
                <option>AL</option>
                <option>AP</option>
                <option>AM</option>
                <option>BA</option>
                <option>CE</option>
                <option>DF</option>
                <option>ES</option>
                <option>GO</option>
                <option>MA</option>
                <option>MT</option>
                <option>MS</option>
                <option>MG</option>
                <option>PA</option>
                <option>PB</option>
                <option>PR</option>
                <option>PE</option>
                <option>PI</option>
                <option>RJ</option>
                <option>RN</option>
                <option>RS</option>
                <option>RO</option>
                <option>RR</option>
                <option>SC</option>
                <option>SP</option>
                <option>SE</option>
                <option>TO</option>
              </select>
            </div>
            <div class="col-md-5">
              <br>
              <label>Cidade:</label>
              <input id="input" type="text" name="InpCity" required>
            </div>
        </div>  
    </div>
  </div> 
</div>


  <button type="submit">Cadastrar</button> 
  <button type="reset">Limpar</button>

</form>

<footer id="Library" class="pt-4 text-muted text-center text-small">
  <p class="mb-1">&copy; 2020-2020 Biblioteca UNIFACS</p>
</footer>

</body>
</html>