body {
    padding: 0;
    font-size: 20px;
    height: 200%;
    width: 100%;
    overflow: auto;
    background-color: cornsilk;
}

h2 {
    margin-left: 550px;
    font-size: 35px;
    font: bold;
}

button {
    position: relative;
    left: 34%;
    width: 10%;
    padding: 3px ;
    border: 2;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

label#lblNome {
    margin-left: 15px;
}

input#nome {
    width: 400px;
    margin-left: 15px;
}

label#lblfantasia {
    margin-left: 15px;
}

input#fantasia {
    width: 400px;
    margin-left: 15px;
}

label#Cnpj {
    margin-left: 15px;
}

input#inpCnpj {
    width: 300px;
    margin-left: 15px;
}

label#lblCont {
    margin-left: 15px;
}

input#InpTel {
    width: 300px;
    margin-left: 15px;
}

label#lblEmail {
    margin-left: 15px;
}

input#email {
    width: 450px;
    margin-left: 15px;
}

label#lblEnd {
    margin-left: 15px;
}

input#endereco {
    width: 950px;
    margin-left: 15px;
}

label#lblCid {
    margin-left: 15px;
}

input#cidade {
    width: 300px;
    margin-left: 15px;
}

label#lblEst {
    margin-left: 15px;
}

input#estado {
    width: 200px;
    margin-left: 15px;
}







