body {
    font-size: 20px;
    padding: 0;
    height: 200%;
    width: 100%;
    overflow: auto;
    background-color: cornsilk;
}

button#btnNovo {
    left: 80%;
    bottom: 60%;
    width: 100px;
}

h2 {
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 656px;
    font-size: 35px;
    font: bold;
}

div#div5{
    left: 80%;
    bottom: 60%;
    width: 10%;
}