body {
  padding: 0;
  height: 200%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 248, 220, 0.801);
}


button {
  position: relative;
  left: 35%;
  width: 10%;
  padding: 3px ;
  border: 2;
  text-align: center;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {opacity: 1}

h1 {
  padding-top: 15px;
  margin-left: 500px;
}

input{
  width: 400px;
}

div#div1{
  padding: 10px;
  margin-left: 150px;
}

div#div2{
  padding: 10px;
  margin-left: 150px;
}
div#div3{
  padding: 10px;
  margin-left: 150px;
}
div#div4{
  padding: 10px;
  margin-left: 150px;
}

div#divnav{
  padding-top: 20px;
}

footer#Library{
  margin-right: 140px;
}